{% extends "base.html" %}
{%  block page_title %}
    <a href="{{ url_for('zone_bp.list') }}">Tasks</a> / {{ task.name }}
{% endblock %}
{% block menu %}
    <h3>Task Actions:</h3>
    <li><i>no actions</i></li>

{% endblock %}
{% block container %}
    <table>
    <tr>
        <td class="data-cell">Task ID</td><td>{{ task.id }}</td>
    </tr>
    <tr>
        <td class="data-cell">Status</td><td>
            {{ task.status_name() }}
            {% if task.is_finished() %}
                ({{ task.result_name() }})
                {% if task.defect_ticket != None %}
                    {{ task.defect_link() | safe }}
                {% endif %}
            {% endif %}
    </td>
    </tr>
    <tr>
        <td class="data-cell">Name</td><td>{{ task.name }}</td>
    </tr>
    <tr>
        <td class="data-cell">Username</td><td>{{ task.username }}</td>
    </tr>
    <tr>
        <td class="data-cell">Start</td><td>{{ task.start_time }}</td>
    </tr>
    <tr>
        <td class="data-cell">End</td><td>{{ task.end_time }}</td>
    </tr>
    </table>
    <br />
    <h3>Description:</h3>
    <pre>{{ task.description }}</pre>
    {% if task.log != None %}
        <h3>Log:</h3>
        <pre>{{ task.log }}</pre>
    {% endif %}
    {% if task.tb != None %}
        <h3>Traceback:</h3>
        <pre>{{ task.tb }}</pre>
    {% endif %}
{% endblock %}